{% extends 'base.html'%}
{% block content%}
<div class="container">

    <!-- Popular movie section  -->
    <h3> Hot Topics in town</h3>
    {% for article_row in articles | batch(4)%}

    <div class="row">

        {% for article in article_row %}

        <div class="col-md-4"style="font-family: 'Shadows Into Light', cursive;
        font-family: 'Stint Ultra Condensed', cursive;">
            <div class="thumbnail">
                <a href="{{article.url}}" target="_blank">
                    <img src="{{article.image}}" alt="{{article.title}}" class="img-responsive" styles="height:30px">
                </a>
                <div class="caption">
                    <h4><a href="{{article.url}}" target="_blank">{{article.title}}</a></h4>
                    <p>{{article.description}}</p>
                    <a href="{{article.url}}" target="_blank"> See More Stories</a>


                </div>
                <div class="footer">
                    Updated on: {{article.date}}


                </div>
            </div>


        </div>

        {% endfor %}

    </div>

    {% endfor %}


</div>


{%endblock%}