{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content%}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
    href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Shadows+Into+Light&family=Stint+Ultra+Condensed&display=swap"
    rel="stylesheet">


<div class="container" >
    <h1 class="text-center">Discarding biased views since forever<br>We know what you are
        Searching<br>The World in headline.</h1>
</div>
<div class="container" style="font-family: 'Kaushan Script', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Stint Ultra Condensed', cursive;" >
    <!-- class="container" style="font-family: 'Shadows Into Light', cursive;
    font-family: 'Stint Ultra Condensed', cursive; font-size: 17px;" -->
    <!-- 1.Business News Section  -->
    <h3 style="font-size:40px"> Trending Business News Sources</h3>
    <hr>

    {{ macro.displaySourceList(sources)}}

    <!--  2. Entertainment News Section  -->

    <h3 style="font-size:40px"> Top Trending Entertainment News Sources</h3>
    <hr>

    {{ macro.displaySourceList(entertainment_sources)}}


    <!-- 3.Technology News Section  -->

    <h3 style="font-size:40px"> Top Trending Technology News Sources</h3>
    <hr>

    {{ macro.displaySourceList(technology_sources)}}


    <!-- 4.Entertainment News Section  -->

    <h3 style="font-size:40px"> Top Trending Sports News Sources</h3>
    <hr>

    {{ macro.displaySourceList(sports_sources)}}

</div>


{%endblock%}